@import "media";
@import "reset";
@import "mixin";


@import "mixin";
@import "reset";
@import "media";

#header {
  .header {
    @include around;
    padding: 20px 0;

    &--navbar {
      display: flex;

      h1 {
        font-weight: 700;
        font-size: 30px;
        color: #173A56;
        padding-left: 15px;
      }
    }


    &--nav {
      @include df;

      a {
        font-weight: 600;
        font-size: 16px;
        color: #22343D;
        transition: .4s;
        padding: 0 20px;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
          text-decoration-line: underline;
          color: #173A56;
        }
      }
    }

    &--btn {
      ion-icon{
        color: #02897A;
        width: 35px;
        height: 20px;
      }
      &__one {

        @include btn;
        background: transparent;
        color: black;

      }

      &__two {
        @include btn;
      }
    }

  }
}
#hero {
  .hero {
    @include around;

    &--block {
      h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        color: #22343D;
      }

      p {
        font-weight: 400;
        font-size: 18px;
        color: #22343D;
        padding: 20px 0;
      }

      &__btn {
        display: flex;
        align-items: center;


        button {
          @include btn;
        }

        &--icon {
          padding: 0 20px;

          a {
            font-weight: 600;
            display: flex;
            align-items: center;
            font-size: 16px;
            color: #02897A;
            text-decoration-line: underline;
          }

        }

      }
    }
  }
}
#product {
  background: url("../img/bg.png ") no-repeat center/cover;
  min-height: 70vh;
  padding: 30px 0;

  .product {
    padding-top: 50px;
    h1 {
      font-weight: 700;
      font-size: 32px;
      text-align: center;
      color: #22343D;
      padding: 30px 0;

    }

    &--block {
      @include around;

      &__vse {
        &--text {
          h3 {
            font-weight: 600;
            font-size: 22px;
            color: #22343D;
          }

          p {
            font-weight: 400;
            font-size: 16px;
            color: #22343D;
            padding: 10px 0;
          }


        }
        &--btn {
          @include center;
          margin-top: 50px  ;
          button {
            @include btn;
            border: none;

          }
        }
      }
    }
  }
}
#management {
  .management {
    padding-top: 90px;
    @include df;

    &--for {
      h5 {
        font-weight: 600;
        font-size: 16px;
        color: #22343D;

      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #22343D;
        padding: 10px 0;
      }

      h1 {
        font-weight: 700;
        font-size: 32px;
        padding: 10px 0;
        color: #22343D;


      }

      &--block {
        @include around;

        &__vse {
          &--text {
            h3 {
              font-weight: 600;
              font-size: 22px;
              color: #22343D;
            }

            p {
              font-weight: 400;
              font-size: 16px;
              color: #22343D;
              padding: 10px 0;
            }
          }

          &--btn {
            @include center;
            margin-top: 50px;


          }

          &--btn {
            @include center;
            margin-top: 50px;

            button {
              @include btn;
              border: none;

            }
          }

        }
      }
    }
  }
}

#laptop{
  padding-top: 50px;
  .laptop{
    @include df;
    &--desc{
      h6{
        font-weight: 600;
        font-size: 16px;
        color: #22343D;
      }
      h1{
        font-weight: 700;
        font-size: 32px;
        padding: 10px 0;
        color: #22343D;
      }
      p{
        font-weight: 400;
        font-size: 16px;
        color: #22343D;
        padding: 10px 0;
      }
      &__the{

      @include da;
        h3{
          font-weight: 400;
          font-size: 16px;
          color: #22343D;
          padding: 15px 15px;

            button {
              @include btn;
              border: none;

            }
          }

        }
        ion-icon{
          background: #FF9900;
          border-radius: 15px;
          font-size: 25px;
          color: #FFFFFF;
        }

      }
      &__the1{

        @include da;
        h3{
          font-weight: 400;
          font-size: 16px;
          color: #22343D;
          padding: 15px 15px;


        }
        ion-icon{

          background: #F03E3D;
          border-radius: 15px;
          font-size: 25px;
          color: #FFFFFF;
        }

      }
      &__the2{

        @include da;
        h3{
          font-weight: 400;
          font-size: 16px;
          color: #22343D;
          padding: 15px 15px;


        }
        ion-icon{
          background: #4D8DFF;
          border-radius: 15px;
          font-size: 25px;
          color: #FFFFFF;
        }

      }
    }
  }








